<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<title>MyContact</title>
</head>
<body class="container">

	<th:block th:unless="${#lists.isEmpty(contacts)}">
		<div class="table-responsive">
			<h3 style="padding: 1em">List of contacts</h3>
			<table class="table table-bordered table-hover">
				<thead>
					<tr>

						<th>Name</th>
						<th>PhoneNumber</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="contact,iterStat : ${contacts}">
						<td th:text="${contact.name}"></td>
						<td th:text="${contact.phonenumber}"></td>
						<td>
							<a href="#"
							th:href="@{/contact/{name}/edit(name=${contact.name})}"
							class="mr-sm-2 text-primary"> <i class="fa fa-pencil-square"></i></a>
							<a
							href="#" th:href="@{/contact/{name}/delete(name=${contact.name})}"
							class="text-danger"> <i class="	fa fa-trash"></i>
						</a>
					</td>
					</tr>
				</tbody>
			</table>
			<a href="#" th:href="@{/contact/add}"
				class="btn btn-success float-right">  New contact
			</a>
		</div>
	</th:block>

</body>
</html>